input {
    display: block;
    padding: 15px;
    margin: 15px;
    font-size: 16px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 2px 2px #cac9c9;
    border: 0px;
}

button {
    padding: 15px;
    background-color: #1a76d2;
    width: 432px;
    margin: 15px;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 2px 2px #cac9c9;
    border: 0px;
}

.sign-container {
    margin-top: 30%;
}

@media screen and (max-width: 900px) {
    input {
        width: 600px;
    }

    button {
        width: 631px;
    }
}

.alert{
    color: red;
}