<div class="container">
    <div class="list-task">
        <ul>
            <li *ngFor="let item of todo; let i = index;">
                <input id="check-{{i}}" name="{{item.description}}" type="checkbox" [checked]="item.checked"
                    (change)="onCheckChange($event)">
                <label for="check{{i}}">
                    {{item.description}}
                    <span class="fecha">({{item.createAt | date:'short'}})</span>
                </label>
            </li>
        </ul>
    </div>
    <div class="formuladio-add">
        <form [formGroup]="formulario">
            <input type="text" formControlName="taskText" placeholder="Add task">
            <button (click)="addTask($event)">Add</button>

        </form>
    </div>
</div>